---
apiVersion: v1
kind: Service
metadata:
  name: faro-operator-metrics
  namespace: faro-system
  labels:
    app.kubernetes.io/name: faro-operator
    app.kubernetes.io/component: operator
    app.kubernetes.io/part-of: faro
spec:
  type: ClusterIP
  ports:
  - name: metrics
    port: 8080
    targetPort: metrics
    protocol: TCP
  selector:
    app.kubernetes.io/name: faro-operator
    app.kubernetes.io/component: operator

