---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: faro-operator
  namespace: faro-system
  labels:
    app.kubernetes.io/name: faro-operator
    app.kubernetes.io/component: operator
    app.kubernetes.io/part-of: faro

